pipeline/GetTableListAndTriggerCopyData_MySQL.json
{
	"name": "GetTableListAndTriggerCopyData_MySQL",
	"properties": {
		"activities": [
			{
				"name": "LookupTableList_MYSQL",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureMySqlSource",
						"query": {
							"value": "SELECT TABLE_SCHEMA, TABLE_NAME FROM information_schema.TABLES WHERE TABLE_TYPE = 'BASE TABLE' AND TABLE_SCHEMA NOT IN ('mysql','information_schema','performance_schema','sys')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "MySQLSourceDataSet",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "TriggerCopy_MySQL",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "LookupTableList_MYSQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "IterateAndCopySQLTables_MySQL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"tableList": {
							"value": "@activity('LookupTableList_MySQL').output.value",
							"type": "Expression"
						}
					}
				}
			}
		],
		"annotations": []
	}
}